
<h1>Movies</h1>

<div class="row">
    <div class="col-12">

        <div class="row ">
            <div class="col-12 ">
                <a class="btn btn-success float-right" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="row  ">
            <div class="col-12 ">
                <a class="btn btn-primary float-right" asp-action="Edit">Edit</a>
            </div>
        </div>
       
        <div class="row ">
            <div class="col-12 ">
                <a class="btn btn-danger float-right" asp-action="Delete">Delete</a>
            </div>
        </div>
    </div>
</div>
